@use "../mocha.scss";

.indicator {
    .osd-container {
        border-radius: 10px;
        margin-right: 2em;
    }

    .osd-label-container {
        border: 0px solid mocha.$mauve;
        border-right-width: 2px;
        border-left-width: 2px;
        border-bottom-width: 2px;
        background: mocha.$base;

        border-radius: 0px 0px 10px 10px;

        .osd-label {
            font-size: 1em;
            padding: 1em;
            color: white;

            &.overflow {
                color: mocha.$peach;
            }
        }
    }

    .osd-icon-container {
        border: 0px solid mocha.$mauve;
        border-right-width: 2px;
        border-left-width: 2px;
        border-top-width: 2px;
        background: mocha.$base;

        border-radius: 10px 10px 0px 0px;

        .osd-icon {
            padding-top: 0.3em;
            padding-right: 0.3em;
            font-size: 1.8em;
            color: mocha.$blue;
        }
    }

    .osd-bar-container {
        border: 0px solid mocha.$mauve;
        border-right-width: 2px;
        border-left-width: 2px;
        padding: 1.25em;
        background: mocha.$base;

        .osd-bar {
            levelbar * {
                transition: 200ms;
            }

            trough {
                min-height: 10em;
            }

            block {
                border-radius: 5px;

                &.empty {
                    background: mocha.$surface0;
                }

                &.filled {
                    background: mocha.$peach;
                    padding: 0.45em;
                }
            }

            &.overflow {
                block {
                    &.empty {
                        background: mocha.$surface0;
                    }

                    &.filled {
                        background: mocha.$peach;
                    }
                }
            }
        }
    }
}
