@use "../mocha.scss";

@mixin common {
  background: mocha.$surface0;
  &:hover {
    color: mocha.$mauve;
    box-shadow: none;
    transition: color .3s ease-in-out;
    label { font-weight: bold; }
  }
}
