@use "menu-button.scss";
@use "../gruvbox.scss";
@use './menu.scss';


.menu-items.audio {
    border-color: gruvbox.$bg4;
}

.menu-items-container.audio {
  min-width: 18em;
  background: gruvbox.$bg;
  font-size: 1.2em;

  .menu-button-isactive.audio {
    @include menu-button.common;
    }

    .menu-icon-button.volume {
      @include menu-button.common;
      padding: 0em 1em;

      label {
        font-size: 1em;
      }
    }

    .menu-active-button {
      @include menu-button.common;
      .menu-active-icon.playback,
      .menu-active-icon.input {
        color: gruvbox.$fg;
        opacity: 1;
      }

      &.muted {
        @include menu-button.common;
        .menu-active-icon.playback,
        .menu-active-icon.input {
          color: gruvbox.$fg;
          opacity: 1;
        }
      }

    }

    .menu-button-icon.playback,
    .menu-button-icon.input {
      @include menu-button.common;
    }

    .menu-button.audio {
      @include menu-button.common;
    }

    .menu-section-container.volume {
      margin-bottom: 0.65em;
    }

    .menu-section-container.playback {
      margin-top: 0em;
      margin-bottom: 1em;
    }

    .menu-section-container.input {
      margin-top: 0em;
    }

    .menu-label-container.input {
      border-radius: 0em;
    }

    .menu-items-section.playback {
      border-radius: 0em;
    }

    .active-playbacks-scrollable {
      min-height: 12.5em;

      .menu-active-percentage.playback,
      .menu-active-percentage.input {
        margin-right: 0.6em;
      }
    }

    .no-playbacks.dim {
      opacity: 0.5;
    }
}
