@use "../gruvbox.scss";

@mixin common {
  color: gruvbox.$fg;
  background: gruvbox.$bg;
  border-width: 0px;
  box-shadow: none;

  &:hover {
    color: gruvbox.$yellow;
    background: gruvbox.$bg;
    box-shadow: none;
    label { 
      transition: color .3s ease-in-out;
      color: gruvbox.$yellow;
    }
  }
  
}
